{% load static %}
<aside class="main-sidebar sidebar-light-primary elevation-4">
    <a href="#" class="brand-link">
        <img src="{% static 'img/logo.png' %}"
             alt="AdminLTE Logo"
             class="brand-image img-circle "
             style="opacity: .8">
        <span class="brand-text font-weight-light">Biblioteca Municipal</span>
    </a>
    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="#" class="img-circle" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block"></a>
            </div>
        </div>
         <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-header"><h5>Usuarios</h5></li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-truck-loading"></i>
                        <p>
                            Listado de Usuarios
                        </p>
                    </a>
                </li>
                
            </ul>
        </nav>
         <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-header"><h5>Biblioteca</h5></li>
                <li class="nav-item">
                    <a href="{% url 'base:categoria_listado' %}" class="nav-link">
                        <i class="nav-icon fas fa-truck-loading"></i>
                        <p>
                            Libros
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'base:productos_listado' %}" class="nav-link">
                        <i class="nav-icon fas fa-boxes"></i>
                        <p>
                            Autores
                        </p>
                    </a>
                </li>
                
            </ul>
        </nav>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-header"><h5>Inventario</h5></li>
                <li class="nav-item">
                    <a href="{% url 'base:categoria_listado' %}" class="nav-link">
                        <i class="nav-icon fas fa-truck-loading"></i>
                        <p>
                            Categorías
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'base:productos_listado' %}" class="nav-link">
                        <i class="nav-icon fas fa-boxes"></i>
                        <p>
                            Productos
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'base:beneficiario_listado' %}" class="nav-link">
                        <i class="nav-icon fas fa-users"></i>
                        <p>
                            Beneficiario
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'base:suministro_listado' %}" class="nav-link">
                        <i class="nav-icon fas fa-shopping-cart"></i>
                        <p>
                            Suministro
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        
        
    </div>
</aside>
