{% extends "partials/bodys.html" %} {% load static %} {% block contenido %}

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="container">
          <h2>Donaciones</h2>
          <p>En la biblioteca Municipal siempre estaremos dispuestos a ofrecer la lectura y con ello apoyamos la donación.</p>
        </div>
      </div><!-- End Breadcrumbs -->

    <!-- ======= F.A.Q Section ======= 
    <section id="faq" class="faq">
      <div class="container">

        <div class="section-title" data-aos="zoom-in">
          
          <h4 style="text-align: center;">Frequently Asked <span>Questions</span></h4>
          </div>

        <div class="faq-list">
          <ul>
            <li data-aos="fade-up">
             <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">Non consectetur a erat nam at lectus urna duis? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                <p>
                  Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="100">
              <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">Feugiat scelerisque varius morbi enim nunc? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
               <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">Dolor sit amet consectetur adipiscing elit? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
             <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">Tempus quam pellentesque nec nam aliquam sem et tortor consequat? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in.
                </p>
              </div>
            </li>

          </ul>
        </div>

      </div>
    </section> End F.A.Q Section -->
 <!-- ======= testigo Section ======= -->
 <section id="testigo">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">LEER ES MI CUENTO</h3>
          <div class="section-title-divider"></div>
          <p class="section-description">El Ministerio de Cultura,la Alcaldía Municipal, el Ministerio de Educación, la Cámara Colombiana del Libro, editoriales y librerías del país, invitan a los colombianos a regalar un libro a los niños que hacen parte del sistema educativo formal del Huila.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <div class="profile">
            <div class="pic"><img src=" {% static 'img/Perfil-hombre-básico_738242395.jpg' %}"alt=""></div>
            <h4>Juan Carlos Perdomo Rivas</h4>
            <span>Alcalde Municipal</span>
          </div>
        </div>
        <div class="col-md-9">
          <div class="quote">
            <b><img src="{% static 'img/quote_sign_left.png' %}" alt=""></b>Para mí es un placer ayudar a la comunidad obeña, es por ello que Donar estos cuentos a los niños y jovenes de nuestro Municipio siempre sera mi más grande logro.<small><img src="{% static 'img/quote_sign_right.png'%}" alt=""></small>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
          <div class="quote">
            <b><img src="{% static 'img/quote_sign_left.png' %}" alt=""></b> Para mi es un orgullo ser parte de este hermoso proyecto, nuestros niños al recibir este regalo podran conocer de su país y animarcen por la lectura. <small><img src="{% static 'img/quote_sign_right.png'%}" alt=""></small>
          </div>
        </div>
        <div class="col-md-3">
          <div class="profile">
            <div class="pic"><img src=" {% static 'img/pexels-christina-morillo-1181686.jpg' %}" alt=""></div>
            <h4>Sara Michelle Guabiare Perez</h4>
            <span>Secretaria General</span>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End testigo Section -->
 <!-- ======= temass Section ======= -->
 <section id="temass">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-md-12">
            
          <div class="section-title-divider"></div>
          <p class="section-description">Leer es mi cuento es el Plan Nacional de Lectura y Escritura (PNLE) de Colombia y es una iniciativa, liderada por el Ministerio de Educación y el Ministerio de Cultura, que busca que los colombianos integren la lectura y la escritura a su vida cotidiana.

           <br> Dentro del PNLE hay dos proyectos que incluyen a la primera infancia: por un lado está la Colección Leer es mi Cuento – Libros para la primera infancia, que es una dotación disponible en todas las bibliotecas públicas del país y en los centros del ICBF, y, por otro lado, está la Serie Leer es mi Cuento, producción propia con títulos para todos los niños, disponibles para descarga en Maguaré y MaguaRED.
            
           <br> Aquí presentamos contenidos que son parte de la Serie Leer es mi Cuento y actividades sugeridas para aprovechar y potenciar estos materiales.</p>
        </div>
        <h5 class="pt-4"><i><span>Se parte de este increible </i><strong>Mundo.</strong> </span> </h5>
      </div>
 <i><p>Pasa por tu cuento y no comas cuento.</p></i>
    <div class="row pt-5">
        {% for productos in object_list %}

            <div class="col-md-3">

            <div class="member">
                <div class="pic"><img src="{{ productos.imagen.url }}" alt=""></div>
                <h4>{{productos.nombre}}</h4>
                <span>Unidades Disponibles:</span><strong>{{productos.stock}}</strong>
                <div class="social">
                </div>
            </div>
            </div>
        {% endfor %}
    </div>
  
  </section><!-- End temass Section -->

{% endblock contenido %}