{% extends "partials/bodys.html" %} {% load static %} {% block contenido %}

<main id="main" data-aos="fade-in">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">
        <h2>Eventos</h2>
        <p> Invitamos a los niños, niñas y adolescentes del municipio de Hobo para que asistan a la Biblioteca Principal Leonardo Cleves Ortíz y disfruten de todos nuestros eventos, los esperamos en el barrio San Pedro, Casa de la Cultura. </p>
      </div>
    </div><!-- End Breadcrumbs -->

<!-- ======= Trainers Section ======= -->
    <section id="trainers" class="trainers">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Eventos</h2>
          <p>Disfruta y diviértete</p>
        </div>
        <div class="row" data-aos="zoom-in" data-aos-delay="100">
          {% for eventos in object_list %}
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img
                src="{{ eventos.imagen.url }}"
                style="width: 355px; height: 450px"
              />
              <div class="member-content">
                <h4  style="text-align: center;">{{eventos.nombre}}</h4>
                <span><strong>Evento:</strong> {{ eventos.tipoEvento }}</span>
                <span><strong>Ubicación:</strong> {{ eventos.ubicacion }}</span>
                <span><strong>{{ eventos.fecha }}</strong></span>
                <p>{{ eventos.descripcion }}</p>
              </div>
            </div>
          </div>
          {% endfor %} 
        </div>
      </div>
    </section>
    <section id="contact" class="contact">
          <div class="container">

            <div class="section-title">
              <h2>Ubicación</h2>
              <h5>Encuéntranos en la Casa de la Cultura, ubicada al costado derecho de la Alcaldía Municipal.</h5>
              <h7><strong>Dirección:</strong> Carrera 9 No. 5 - 41 <br>
                <strong>Teléfono Conmutador:</strong>  +57 3118851880 (Secretaría General) <br>
                <strong>Correo institucional:</strong>  alcaldia@hobo-huila.gov.co</h7>
            </div>

            <div>
              <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d996.4401980615984!2d-75.45205142323975!3d2.5842150435479816!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3b3bc60b42b28b%3A0x9ed05caff5a35dcc!2sAlcald%C3%ADa%20De%20Hobo!5e0!3m2!1ses-419!2sco!4v1679938175174!5m2!1ses-419!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>
    </section>

</main>
{% endblock contenido %}
