{% extends "partials/bodys.html" %}

{% load static %}
{% block contenido %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="{% url 'index' %}">Inicio</a></li>
          <li>Biblioteca</li>
        </ol>
        <h2>Eventos</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Services Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="row">
          {% for eventos in object_list %}

          <div class="col-lg-4 col-md-6 d-flex ">
            <div class="member">
              <img src="{{ eventos.imagen.url }}"style="width: 300px; height: 320px;" alt="">
              <h4>{{eventos.nombre}}</h4>
              <span>Evento: {{ eventos.tipoEvento }}</span>
              <span>{{ eventos.fecha }}</span>
              <p>
                {{ eventos.descripcion }}</p>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
          {% endfor %}
          
          </div>
        </div>
      </div>
    </section><!-- End Services Section -->


     <!-- ======= Services Section ======= -->
    <section id="servicio" class="servicio">
      <div class="container">

        <div class="section-title">
          <h2>Services</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-briefcase" style="color: #ff689b;"></i></div>
              <h4 class="title"><a href="">Lorem Ipsum</a></h4>
              <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-card-checklist" style="color: #e9bf06;"></i></div>
              <h4 class="title"><a href="">Dolor Sitema</a></h4>
              <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-bar-chart" style="color: #3fcdc7;"></i></div>
              <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
              <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-4">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-binoculars" style="color:#41cf2e;"></i></div>
              <h4 class="title"><a href="">Magni Dolores</a></h4>
              <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-brightness-high" style="color: #d6ff22;"></i></div>
              <h4 class="title"><a href="">Nemo Enim</a></h4>
              <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-4">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-calendar4-week" style="color: #4680ff;"></i></div>
              <h4 class="title"><a href="">Eiusmod Tempor</a></h4>
              <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->
    <!-- ======= Our Skills Section ======= -->
    
    </section><!-- End Our Skills Section -->

  </main><!-- End #main -->
</div> <script>
    document.addEventListener('DOMContentLoaded', function(){
        var calendarUI = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarUI,{
            
            headerToolbar: {
                left: 'prev,next, today',
        center: 'title',
        right: 'dayGridMonth'
            },
            navLinks: true, // can click day/week names to navigate views
      editable: false,
      selectable: true,
      nowIndicator: true,
      dayMaxEvents: true, 
            events: [
                {% for eventos in object_list %}
                    {
                        
                        title: "{{ eventos.nombre }} _ {{ eventos.tipoEvento }}",
                        start: '{{ eventos.fecha | date:"Y-m-d H:i:s"}}',
                        end:"{{ eventos.tipoEvento }}",
                        
                        
                    },
                   {% endfor %}
                {% for reserva in object_list %}
                    {
                        title: "{{ reserva.libro.titulo}}",
                        start: '{{ reerva.fecha | date:"Y-m-d" }}',
                        
                    },
                {% endfor %}
                {
          title: 'Año Nuevo',
          start: '2023-01-01'
          
        },
        {
          title: 'Día de los Reyes Magos',
          start: '2023-01-09',
          
        },
        {
          title: 'Día de San José',
          start: '2023-03-20'
        },
        {
          title: 'Domingo de Ramos',
          start: '2023-04-02'
        },
        {
          title: 'Jueves Santo',
          start: '2023-04-06'
        },
        {
          title: 'Viernes Santo',
          start: '2023-04-07'
        },
        {
          title: 'Domingo de Resurrección',
          start: '2023-04-09'
        },
        {
          title: 'Día del Trabajo',
          start: '2023-05-01'
        },
        {
          title: 'Día de la Ascensión',
          start: '2023-05-22'
        },
        {
          title: 'Corpus Christi',
          start: '2023-06-12'
        },
        {
          title: 'Sagrado Corazón',
          start: '2023-06-19'
        },
        {
          title: 'San Pedro y San Pablo',
          start: '2023-07-03'
        },
        {
          title: 'Día de la Independencia',
          start: '2023-07-20'
        },
        {
          title: 'Batalla de Boyacá',
          start: '2023-08-07'
        },
        {
          title: 'La asunción de la Virgen',
          start: '2023-08-21'
        },
        {
          title: 'Día de la Raza',
          start: '2023-10-16'
        },
        {
          title: 'Todos los Santos',
          start: '2023-11-06'
        },
        {
          title: 'Independencia de Cartagena',
          start: '2023-11-13'
        },
        {
          title: 'Día de la Inmaculada Concepción',
          start: '2023-12-08'
        },
        {
          title: 'Navidad',
          start: '2023-12-25'
        },
            ]
  
        });
        calendar.render();
        calendar.setOption('locale','es');
        
    });

</script> 
   {% endblock contenido %}