{% extends "partials/bodys.html" %} {% load static %} {% block contenido %}
<main id="main" data-aos="fade-in">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">
        <h2>Historia</h2>
        <p> "Quien no conoce su historia está condenado a repetirla" <br> Jorge Agustín Nicolás Ruiz de Santayana 
            </p>
      </div>
    </div><!-- End Breadcrumbs -->

 <!-- ======= Specials Section ======= -->
    <section id="specials" class="specials">
      <div class="container">

        <div class="section-title">
          <h2>Historia</h2>
          <p>Recuerda a tu pueblo</p>
        </div>

        <div class="row">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Hobo</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Fundador</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Sitios turísticos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Industria</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-5">Poblaciones</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Mi pueblito Obeño</h3>
                    <p class="fst-italic">Hobo es un municipio colombiano ubicado en el centro del departamento del Huila. Yace entre las llanuras del valle del río Magdalena que conforma la represa de Betania y las estribaciones de la cordillera oriental .</p>
                    <p>​Su economía se basa principalmente en la ganadería que presenta hatos de gran valor por la cantidad y calidad de sus ganados. Otros renglones como la agricultura, principalmente con cultivos de café, cacao, caña de azúcar, achira, maíz, arroz, tabaco y vid (uva).</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/specials-1.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-2">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>DOUGLAS HERNAN BAUTISTA TOVAR</h3>
                    <p class="fst-italic">La biblioteca Pública Municipal creada mediante acuerdo N° 035 de 21 de noviembre 2008, por medio de la cúal se crea la biblioteca pública municipal DOUGLAS HERNÁN BAUTISTA TOVAR y se reglamenta su uso.</p>
                    <p> promueve acceso al desarrollo cultural satisfaciendo las necesidades, bibliográficas del Municipio, las consultas las novedades la construcción del conocimiento con sus servicios.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/specials-2.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-3">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Explora</h3>
                    <p class="fst-italic">Por la ubicación geográfica y sus paisajes Hobo es un destino turístico muy visitado. El embalse de la Represa de Betania se usa para pescar y pasear o en canoa o en lancha, ya que es una vía de comunicación con el municipio de Yaguará.</p>
                    <p>En su orilla está situado El Puerto Momico, que está ubicado a la orilla de las aguas del embalse de Betania y a una distancia de dos kilómetros del perímetro urbano del municipio de Hobo.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/specials-3.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-4">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Industrialización</h3>
                    <p class="fst-italic">Hobo es el municipio que tiene más piscícolas en el país que operan para comercializadoras internacionales de tilapia.</p>
                    <p>Otros renglones como la agricultura, principalmente con cultivos de café, cacao, caña de azúcar, achira, maíz, arroz, tabaco y vid (uva).  Es conocido como «El Corazón del Huila» o «La Ínsula de Paz»</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/specials-4.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-5">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Poblaciones Indigenas</h3>
                    <p class="fst-italic">La actividad reunió en Neiva a 32 comunidades de 7 pueblos indígenas asentados en el Huila, quienes compartieron productos, saberes, y expresiones culturales.</p>
                    <p>Neiva, 27 de septiembre de 2021. Durante 2 días la Plaza de Banderas de la Gobernación del Huila, fue escenario del primer “Gran Trueque Andino de Comunidades indígenas del Huila”, que tuvo como propósito estrechar los lazos de amistad, así como compartir saberes, sabores y semillas.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/specials-5.jpg" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Specials Section -->
<section id="specials" class="specials">
      <div class="container">

        <div class="section-title">
          <h2>Tiempo</h2>
          <p>Todo por un poco de tiempo.
            </p>
        </div>
                <section id="header2" class="d-flex align-items-center">
                    <div class="container d-flex flex-column align-items-center">
                    <div class="countdown d-flex justify-content-center" data-count="2023/12/31">
                        <div>
                        <h3>%d</h3>
                        <h4>Días</h4>
                        </div>
                        <div>
                        <h3>%h</h3>
                        <h4>Horas</h4>
                        </div>
                        <div>
                        <h3>%m</h3>
                        <h4>Minutos</h4>
                        </div>
                        <div>
                        <h3>%s</h3>
                        <h4>Segundos</h4>
                        </div>
                        
                    </div>
                    
                    </div>
                </section><!-- End #header -->
 </div>
</section>
  
<section id="features" class="features" data-aos="fade-up">
  <div class="container">

    <div class="section-title pt-3">
      <h2>Autores</h2>
      <p>Conoce los Autores más importantes de nuestro país.</p>
    </div>

    <div class="row content">
      <div class="col-md-5" data-aos="fade-right" data-aos-delay="100">
        <img src="{% static 'img/garcia-marquez-1-e1577755902830.jpg' %}" class="img-fluid"  alt="">
      </div>
      <div class="col-md-7 pt-4" data-aos="fade-left" data-aos-delay="100">
        <h3 style="text-transform: capitalize;">gabriel garcía márquez</h3>
        <p class="fst-italic">
          Gabriel José de la Concordia García Márquez ​​ fue un escritor y periodista colombiano. Reconocido principalmente por sus novelas y cuentos, también escribió narrativa de no ficción, discursos, reportajes, críticas cinematográficas y memorias.
        </p>
        <ul>
          <li><i class="bi "></i> <strong>Nacimiento:</strong>  6 de marzo de 1927, Aracataca</li>
          <li><i class="bi"></i> <strong>Fallecimiento:</strong> 17 de abril de 2014, Ciudad de México, México</li>
          <li><i class="bi"></i> <strong>Premios:</strong> Premio Nobel de Literatura</li>
        </ul>
      </div>
    </div>

    <div class="row content">
      <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
        <img src="{% static 'img/fotojer2.jpg'%}" class="img-fluid"   alt="">
      </div>
      <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-right">
        <h3 style="text-transform: capitalize;"> José Eustasio Rivera Salas</h3>
        <p class="fst-italic">
          José Eustasio Rivera Salas, conocido como José Eustasio Rivera, fue un escritor colombiano destacado por su obra poética pero sobre todo por su novela La vorágine, considerada un clásico de la literatura hispanoamericana.
        </p>
        <ul>
          <li><i class="bi "></i> <strong>Nacimiento:</strong> 19 de febrero de 1888, Rivera</li>
          <li><i class="bi"></i> <strong>Fallecimiento:</strong>  1 de diciembre de 1928, Nueva York, Nueva York, Estados Unidos</li>
          <li><i class="bi"></i> <strong>Obras:</strong>  Juan Gil</li>
        </ul>
      </div>
    </div>

    <div class="row content">
      <div class="col-md-5" data-aos="fade-right">
        <img src="{% static 'img/05actulaidad.jpg' %}" class="img-fluid"  alt="">
      </div>
      <div class="col-md-7 pt-5" data-aos="fade-left">
        <h3 style="text-transform: capitalize;">rafael pombo</h3>
        <p>José Rafael Pombo y Rebolledo fue un narrador, escritor, poeta, fabulista, traductor, intelectual y diplomático colombiano.</p>
        <ul>
          <li><i class="bi "></i> <strong>Nacimiento:</strong> 7 de noviembre de 1833, Bogotá</li>
          <li><i class="bi"></i> <strong>Fallecimiento:</strong> 5 de mayo de 1912, Bogotá</li>
          <li><i class="bi"></i> <strong>Géneros: </strong> Prosa, poesía, traducción cuentos infantiles</li>
        </ul>
      </div>
    </div>

    <div class="row content">
      <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
        <img src="{% static 'img/JI.jpg' %}" class="img-fluid" alt="">
      </div>
      <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-right">
        <h3 style="text-transform: capitalize;">Jorge Ricardo Isaacs Ferrer</h3>
        <p class="fst-italic">
          Jorge Ricardo Isaacs Ferrer fue un novelista, escritor, poeta y político colombiano del género romántico. Jorge Isaacs vivió durante la época de consolidación de la República.​ Su única novela, María, se convirtió en una de las obras más notables del movimiento romántico en la literatura en español.
        </p>
        <ul>
          <li><i class="bi "></i> <strong>Nacimiento:</strong> 1 de abril de 1837, Cali</li>
          <li><i class="bi"></i> <strong>Fallecimiento:</strong> 17 de abril de 1895, Ibagué</li>
          <li><i class="bi"></i> <strong>Películas: </strong> María</li>
        </ul>
      </div>
    </div>

  </div>
</section><!-- End Features Section -->

</main>

 {% endblock contenido %}

