{% extends "partials/bodys.html" %}
{% load static %}
{% block contenido %}
<!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h1>Aprende hoy,<br>Lidera mañana</h1>
      <h2>Somos una Biblioteca dedicada al conocimiento.</h2>
      
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row ">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="{% static 'img/libros/dsk-biblioteca1.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 content">
            <h3>La Biblioteca</h3>
            <p class="fst-italic  pt-3">
              Uno de los motivos por los cuales utilizar las bibliotecas públicas, y que nos gustaría destacar, es que necesitan nuestro apoyo. El recorte de presupuestos y el cierre de bibliotecas es una tónica general en los últimos años. Bien es cierto que en esos mismos años las visitas han crecido muchísimo, al igual que el número de socios. Y es que las bibliotecas públicas siempre son necesarias y de utilidad.
            </p>
            
            <p>
              La función que desempeñan las bibliotecas para garantizar el acceso a los conocimientos.
            </p>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Popular Courses Section ======= -->
    <section id="popular-courses" class="courses">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Libros</h2>
          <p>Libros Populares</p>
        </div>

        <div class="row" data-aos="zoom-in" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="course-item">
              <img src="{% static 'img/libros/grey.jpg' %}"  style="width: 1000px; height: 448px;"class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>El Retrato de Dorian Gray</h4>
                </div>

                <h3><a href="course-details.html">Novela de Oscar Wilde</a></h3>
                <p>El libro narra la historia de un joven llamado Dorian Gray, poseedor de una belleza física extraordinaria.</p>
                <div class="trainer d-flex justify-content-between align-items-center">
                 
                  <div class="trainer-rank d-flex align-items-center">
                    <p>Ambientada en: Reino Unido</p>
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="course-item">
              <img src="{% static 'img/libros/soy2.webp' %}" style="width: 1000px; height: 448px;" alt="" class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>Soy Leyenda</h4>
                </div>

                <h3><a href="course-details.html">Novela de Richard Matheson
</a></h3>
                <p>Soy leyenda termina cuando el Teniente Coronel Robert Neville ha encontrado la cura para acabar con el horrible virus que ha transformado a los humanos en vampiros.</p>
                <div class="trainer d-flex justify-content-between align-items-center">
                 
                  <div class="trainer-rank d-flex align-items-center">
                    <p>Ambientada en: Los Angeles</p>
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="course-item">
              <img src="{% static 'img/libros/Cubierta-La-Voragine-2018-PLASTIFICADO-MATE-681x1024.jpg' %}"  style="width: 600px; height:450px;" alt="" class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>La Vorágine</h4>
                </div>

                <h3><a href="course-details.html">Novela de José Eustasio Rivera
</a></h3>
                <p>¿Cuál es el tema principal de La vorágine?
La vorágine es una novela insignia de la literatura colombiana e hispanoamericana que trata de manera singular el tema de la violencia.</p>
                <div class="trainer d-flex justify-content-between align-items-center">
                
                  <div class="trainer-rank d-flex align-items-center">
                    <p>Ambientada en: Yopal</p>
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- End Course Item-->

        </div>

      </div >
      <div class="container-fluid text-center pt-4">  <button class="btn btn" style="background:#2799adfa; "><a href="{% url 'principal:libros' %}" class="btn-get-started scrollto"style="color:white;">Seguir Leyendo</a></button>
      </div>
    </section><!-- End Popular Courses Section -->

    {% comment %} <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts section-bg">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="1232" data-purecounter-duration="1" class="purecounter"></span>
            <p>Students</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="64" data-purecounter-duration="1" class="purecounter"></span>
            <p>Courses</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="42" data-purecounter-duration="1" class="purecounter"></span>
            <p>Events</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
            <p>Trainers</p>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section --> {% endcomment %}
 <!-- ======= Why Us Section ======= -->
 <section id="why-us" class="why-us">
  <div class="container" data-aos="fade-up">

    <div class="row">
      <div class="col-lg-4 d-flex align-items-stretch">
        <div class="content">
            
            <h3>Nuestra Biblioteca</h3>
          <p>Una biblioteca puede definirse, desde un punto de vista estrictamente etimológico, como el lugar donde se guardan libros.</div>
      </div>
      <div class="col-lg-8 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-boxes d-flex flex-column justify-content-center">
          <div class="row">
            <div class="col-xl-4 d-flex align-items-stretch">
              <div class="icon-box mt-4 mt-xl-0">
                <i class="bx bx-book" title="Libro"></i>
                <h4 style="text-align: left;">Conocerás diferentes culturas a través de los libros.</h4>
              
              </div>
            </div>
            <div class="col-xl-4 d-flex align-items-stretch">
              <div class="icon-box mt-4 mt-xl-0">
                <i class="bx bxs-face-mask" title="Ojitos"></i>
                <h4 style="text-align: left;">Mejora tú ortografía y descubre palabras nuevas. </h4>
                    </div>
            </div>
            <div class="col-xl-4 d-flex align-items-stretch">
              <div class="icon-box mt-4 mt-xl-0">
                <i class="bx bx-book-bookmark" title="Libro"></i>
                <h4 style="text-align: left;">No conoceras el aburrimiento con nuestros libros.</h4>
              </div>
            </div>
          </div>
        </div><!-- End .content-->
      </div>
    </div>

  </div>
</section><!-- End Why Us Section -->
<!-- ======= Subscrbe Section ======= -->
<section id="imagencor">
<div class="container" data-aos="fade-up">
<div class="row">
  <div class="col-md-8">
    <h3 class="imagencor-title">El Mundo de los Libros</h3>
    <p class="imagencor-text"> <em> Aprender a leer es encender un fuego 
        y cada sílaba que se deletrea es una chispa de magia cuya duración es la vida misma. </em></p>
  </div>
  
</div>
</div>
</section><!-- End Subscrbe Section -->




 <!-- ======= Trainers Section ======= -->
 <section id="trainers" class="trainers">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Eventos</h2>
      <p>Eventos del Mes</p>
    </div>
    <div class="row" data-aos="zoom-in" data-aos-delay="100">
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="member">
          <img src="{% static 'img/libros/Conoce_a_los_Gillman.png' %}"  style="width: 500px; height:448px;" class="img-fluid" alt="">
          <div class="member-content">
            <h4 style="text-align: center;">Cine</h4>
            <span style="text-align: center;">krakens y sirenas</span>
            <p>
             La película sigue a la dulce Ruby Gillian de 16 años, quien está desesperada por encajar en Oceanside High, pero pronto descubrirá que está destinada a sobresalir y a heredar el trono de su abuela, la Reina Guerrera de los Siete Mares.
            </p>
            
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="member">
          <img src="{% static 'img/libros/descarga12.jpg' %}" style="width: 500px; height:448px;" class="img-fluid" alt="">
          <div class="member-content">
            <h4  style="text-align: center;">Arte</h4>
            <span  style="text-align: center;">Pintura en Lienzo</span>
            <p>
              Con la pintura se puede conocer cómo piensa, cómo siente o cómo ve un niño el mundo, se constituye un proceso complejo, en el cual el niño reúne diversos elementos a partir de su experiencia en el cual selecciona, interpreta, expresa y disfruta de forma única y personal. </p>
            
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="member">
          <img src="{% static 'img\libros\el-juego-de-ajedrez-y-los-ninos-lg.jpg' %}" style="width: 500px; height:448px;"class="img-fluid" alt="">
          <div class="member-content">
            <h4  style="text-align: center;">Ajedrez</h4>
            <span  style="text-align: center;">Juego de ajedrez</span>
            <p>
            ¿Cuál es la edad ideal para aprender ajedrez?
La edad recomendada para empezar son los cinco años. Requiere constancia y práctica diaria, y poco a poco se consigue rapidez en los movimientos y fortaleza mental. Quienes lo practican dicen sentirse muy bien.
            </p>
            
          </div>
        </div>
      </div>

    </div>

  </div>
  <div class="container-fluid text-center pt-4">  <button class="btn btn" style="background:#2799adfa; "><a href="{% url 'principal:eventos' %}" class="btn-get-started scrollto"style="color:white;">Seguir Leyendo</a></button>
  </div>
</section><!-- End Trainers Section -->
<!-- ======= clients2 Section ======= -->
<section id="clients2" class="clients2">
  <div class="container">

    <div class="section-title">
      <h2>Asociados</h2>
      <p>Asociados Políticos</p>
    </div>

    <div class="clients2-slider swiper">
      <div class="swiper-wrapper align-items-center">
        <div class="swiper-slide"><img src="{% static 'img/descarga (2).jpg' %}" class="img-fluid" alt=""></div>
        <div class="swiper-slide"><img src="{% static 'img/36926.png' %}" class="img-fluid" alt=""></div>
        <div class="swiper-slide"><img src="{% static 'img/36936.png' %}" class="img-fluid" alt=""></div>
        <div class="swiper-slide"><img src="{% static 'img/descarga.png' %}" class="img-fluid" alt=""></div>
        <div class="swiper-slide"><img src="{% static 'img/39850.png' %}" class="img-fluid" alt=""></div>
        <div class="swiper-slide"><img src="{% static 'img/coofisam.png' %}" class="img-fluid" alt=""></div>
        <div class="swiper-slide"><img src="{% static 'img/hobo.jpg' %}" class="img-fluid" alt=""></div>
        <div class="swiper-slide"><img src="{% static 'img/gobernacion.jpg' %}" class="img-fluid" alt=""></div>
      </div>
      <div class="swiper-pagination"></div>
    </div>

  </div>
</section><!-- End clients2 Section -->

</main><!-- End #main -->


{% endblock contenido %}