{% extends "partials/bodys.html" %}

{% load static %}
{% block contenido %}

 <main id="main" data-aos="fade-in">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">
        <h2>Biblioteca</h2>
        <p> Biblioteca Pública Douglas Hernán Bautista Tovar </p>
      </div>
    </div><!-- End Breadcrumbs -->
    <!-- ======= portfolio22 Details Section ======= -->
    <section id="portfolio2-details" class="portfolio2-details">
    
      <div class="container">
            {% csrf_token %}

        <div class="row gy-4">

          <div class="col-lg-7 ">
          
            <div class="portfolio2-details-slider swiper">
              <div class="swiper-wrapper align-items-center">
                <div class="swiper-slide ">
                  <img src="{{ object.imagen.url }}"style="width: 600px; height: 600px;  " alt="">
                </div>
              </div>
            </div>
          </div>

        <div class="col-lg-5">
         
            <div class="portfolio2-info">
              <h3>{{ object.titulo }}</h3>
              <ul>
                <li><strong>Autor</strong>: {{ object.autor }}</li>
                <li><strong>Género</strong>: {{ object.genero}}</li>
                <li><strong>Fecha de Publicación</strong>: {{ object.f_publicacion}}</li>
                <li><strong>Unidades Disponibles</strong>: {{ object.cantidad}}</li>
              </ul>
            </div>
            <div class="portfolio2-description">
              <h2>Descripción</h2>
              <p>
               {{ object.descripcion}} </p>
            </div>
            <a href="{% url 'principal:libros' %}" class="btn-get-started animate__animated animate__fadeInUp">Volver</a>
          </div>
        </div>

      </div>
    </section><!-- End portfolio2 Details Section -->

  </main><!-- End #main -->

  {% endblock contenido %}