{% extends 'layout.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'fullcalendar/lib/main.css' %}">
<script src="{% static 'fullcalendar/lib/main.js' %}"></script>
<script src="{% static 'fullcalendar/lib/locales-all.js' %}"></script>
<script src="{% static 'libro/js/reservas.js' %}"></script>
<script src="{% static 'js/lib/data-table/dataTables.bootstrap.min.js' %}"></script>


{% endblock  %}


{% block content %}
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-8">
                <h2><strong class="card-title">Eventos</strong></h2> 
            </div>
        </div>

    </div>
    <div id="calendar" class="card" style="padding: 30px;"></div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function(){
        var calendarUI = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarUI,{
            headerToolbar: {
                end: 'prev,next today',
                
            },
            events: [
                {% for eventos in object_list %}
                    {
                        title: "{{ eventos.nombre }}",
                        start: '{{ eventos.fecha | date:"Y-m-d" }}',
                        end:"{{ eventos.tipoEvento }}",

                        
                    },
                {% endfor %}
                {% for eventos in object_list %}
                    {
                        title: "{{ eventos.tipoEvento }}",
                        start: '{{ eventos.fecha | date:"Y-m-d" }}',
                        
                    },
                {% endfor %}
            ]
        });
        calendar.render();
        calendar.setOption('locale','es');
        
    });
    
</script>
{% endblock %}