{% extends 'listado.html' %}
{% load static %}

{% block head_list %}
    <script src="{% static 'beneficiario/js/list.js' %}"></script>
    <script src="{% static 'lib/moment-2.25.3/moment-with-locales.js' %}"></script>
    <script src="{% static 'lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.js' %}"></script>
    <link href="{% static 'lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet" />

{% endblock head_list %}

{% block columnas %}
    <tr>
        <th scope="col" style="width: 15%;">Id</th>
        <th scope="col" style="width: 15%;">Nombres</th>
        <th scope="col" style="width: 15%;">Apellidos</th>
        <th scope="col" style="width: 10%;">Tipo de Documento</th>
        <th scope="col" style="width: 10%;">Número de Documento</th>
        <th scope="col" style="width: 15%;">Fecha de Nacimiento</th>
        <th scope="col" style="width: 10%;">Teléfono</th>
        <th scope="col" style="width: 10%;">Zona</th>
        <th scope="col" style="width: 15%;">Dirección</th>
        <th scope="col" style="width: 10%;">Barrio</th>
        <th scope="col" style="width: 15%;">Genero</th>
        <th scope="col" style="width: 20%;">Opciones</th>
    </tr>
{% endblock %}

{% block filas %}
  
{% endblock %}

{% block javascript %}

{% endblock %}