
{% load static %}

    <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Biblioteca</h3>
            <p>
              <strong>Dirección:</strong> Carrera 9 No. 5 - 41<br>
              
              <strong> Teléfono Conmutador:</strong> +57 3118851880 (Secretaría General)<br>
              <strong>Correo institucional: </strong>alcaldia@hobo-huila.gov.co<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Enlaces</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'index'%}">Inicio</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'principal:libros'%}">Biblioteca</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'principal:historia'%}">Historia</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'principal:eventos'%}">Eventos</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Servicios</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'principal:donaciones'%}">Donaciones</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'principal:historia'%}">Aprendizaje</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'principal:eventos'%}">Entretenimiento</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'principal:libros'%}">Prestamo de Libros</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Horario de atención:</h4>
            <p> Lunes a Viernes de 8:00 A.M. a 12:00 P.M. y de 2:00 P.M. a 4:00 P.M.</p>
            
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>Biblioteca Municipal de Hobo (Huila)</span></strong>. 
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/mentor-free-education-bootstrap-theme/ -->
           <a href="https://bootstrapmade.com/"></a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter" title="Twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook" title="Facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram" title="Instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus" title="Skype"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin" title="Linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->
  