
{% load static %}
  
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">


      <h1 class="logo me-auto"><a href="index.html">Biblioteca</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="active" href="{% url 'index' %}">Inicio</a></li>
          <li><a href="{% url 'principal:eventos' %}">Eventos</a></li>
          <li><a href="{% url 'principal:libros' %}">Biblioteca</a></li>
          <li><a href="{% url 'principal:historia' %}">Historia</a></li>
           
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    {% if request.user.is_authenticated %}
              
              <a href="{% url 'base:admin' %}" id="btn-get-started" class="get-started-btn" ><i class="bx bx-user"></i>  {{ request.user.username }}</a>
            
            {% else %}
            
            <a href="{% url 'login' %}" id="btn-get-started" class="get-started-btn"><i class="bx bx-door-open"></i>Iniciar Sesión</a>
            
            {% endif %}
    </div>
    <script>
        (function(d){
        var s = d.createElement("script");
        s.setAttribute("data-account", "fFgZ6B1nWP");
        s.setAttribute("src", "https://cdn.userway.org/widget.js");
        s.setAttribute('locale','es');
        (d.body || d.head).appendChild(s);})(document)
        
    </script>
  </header><!-- End Header -->
