{% extends 'layout.html' %}
{% load static %}

{% block head %}
    <script src="{% static 'lib/highcharts-8.1.2/highcharts.js' %}"></script>
    <script src="{% static 'lib/highcharts-8.1.2/modules/exporting.js' %}"></script>
    <script src="{% static 'lib/highcharts-8.1.2/modules/export-data.js' %}"></script>
    <script src="{% static 'lib/highcharts-8.1.2/modules/accessibility.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
    <script src="{% static 'lib/adminlte-3.0.4/plugins/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'libro/js/reservas_vencidas.js' %}"></script>
    <script src="{% static 'libro/js/libro.js' %}"></script>

{% endblock %}

{% block content %}
 <div class="card">
    <div class="card-header">
        <div class="row" style="margin: 30px;">
            <div class="col-md-12  ">
                <strong class="card-title">
                    <h2>{{ object }}</h2>
                </strong>
            </div>
        </div>

        <div class="container">
            <div class="row">
                
                    {% csrf_token %}
                    <div class="col-md-6 pb-3">
                    <img class="card-img-top img-fluid d-block mx-auto" style="width: 400px; height: 500px;" src="{{ object.imagen.url }}" alt="Card image cap">
                    
                    </div>
                            <div class="col-md-6 ">
                                <p class="card-text"><strong>Autor</strong></p>{{ object.autor }}<hr>
                                <p class="card-text"><strong>Publicado el:</strong></p> {{ object.f_publicacion }}<hr>
                                  <p class="card-text"><strong>Género</strong></p>{{ object.genero}}<hr>
                                  <p class="card-text"><strong>Descripción</strong></p>

                                   <p class="card-text">{{ object.descripcion }}</p><hr>
                    <button type="button" class="btn btn-info btn-lg"><a href="{% url 'base:libro_listado' %}"style="color:white;">Volver</button>
                
                            </div>
                           
                        </div>
                    </div>
                </div>
               
            </div>
        </div>

    </div>
</div>

{% endblock %}