{% extends 'listado.html' %}
{% load static %}

{% block head_list %}
    <script src="{% static 'libro/js/list.js' %}"></script>
{% endblock head_list %}

{% block columnas %}
    <tr>
        <th scope="col" style="width: 10%;">Nro</th>
        <th scope="col" style="width: 20%;">Título</th>
        <th scope="col" style="width: 25%;">Autor</th>
        <th scope="col" style="width: 25%;">Fecha de Publicación</th>
        <th scope="col" style="width: 25%;">Género</th>
        <th scope="col" style="width: 25%;">Unidades</th>
        <th scope="col" style="width: 25%;">Imagen</th>
        <th scope="col" style="width: 20%;">Opciones</th>
    </tr>
{% endblock %}

{% block filas %}
  
{% endblock %}

{% block javascript %}

{% endblock %}