<!-- Main Footer -->
<footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
        Anything you want
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2020-2025 Biblioteca Municipal de Hobo (Huila)</strong>
</footer>
<script>
        (function(d){
        var s = d.createElement("script");
        s.setAttribute("data-account", "fFgZ6B1nWP");
        s.setAttribute("src", "https://cdn.userway.org/widget.js");
        s.setAttribute('locale','es');
        (d.body || d.head).appendChild(s);})(document)
        
    </script>